<<div class="container">
  <h1>What you waiting for, tweet ah!</h1>

  <% if @access_token %>

    <div>
      <p>
        <button><a href="/sign_out">Sign Out</a></button>
      </p>
    </div>
  <% else %>
    <button><a href="/sign_in">Sign In with Twitter</a></button>
  <% end %>

<%if session[:id]%>
<form action = "/auth"  method = "post">
  <input type= "text" name = "tweets" placeholder = "eg. my tweet "> </input>
  <input type = "submit" value = "Post  Tweets"> </input>
 </form>
<%end%>

</div>
