<script>
  $(document).ready(function()
    {
      $.ajax({
          url:'<%= "/tweet" %>',
          type: "GET",
          success:function(result)
          {
            $("#show_tweet").html(result);
            $("#wait-msg").hide();
          },
          error: function(jqXHR, textStatus, errorThrown) 
          {
          	$("#wait-msg").hide();
          }
        });
      $("#post_tweet").submit(function(event)
        {	
        	console.log("test")
        	$("#wait-msg").show();
			    var postData = $(this).serializeArray();
			    var formURL = $(this).attr("action");
			    $.ajax(
			    {
			        url : formURL,
			        type: "POST",
			        data : postData,
			        success:function(result)
			        {
			        	
			          $("#show_tweet").html(result);
			          $("#wait-msg").hide();
			        },
			        error: function(jqXHR, textStatus, errorThrown)
			        {
			        	$("#wait-msg").hide();
			        }
			    });
			    event.preventDefault(); //STOP default action
        });
    });
 </script>

<div class="container">
  <h1>Welcome to Post A Tweet!</h1>
  <p>Hello, world!</p>
</div>
<div class="container">
	<br>
	<body bgcolor="#ffffff" alink="#0000be"><b>	Tweet Something</b><br><br>
	  <form method="post" action="/tweet" id="post_tweet"><input type="hidden" name="post_tweet" value="item?id=8548992">
	    <table border="0"><tr><td>Tweet:</td><td><input type="text" name="tweet_msg" size="20" autocorrect="off" autocapitalize="off"></td></tr></table><br>
	    <input type="submit" value="Submit">
	  </form>
	</body>
</div>

<div class="container">
	<br>
	<div id="wait-msg">
		<img src="/images/ajax-loader.gif"> Updating</img>
	</div>
	<div id="show_tweet">

	</div>
</div>


