<div class="container">
  <h1>We tweet like Malaysians, laterrrrrrrrrrrrrrrrrrr</h1>

  <% if session[:id] %>
    Welcome!
  <% else %>
    <button><a href="/sign_in">Sign In with Twitter</a></button>
  <% end %>

  <% if session[:id] %>
    <form action='/tweet' method='post'>
      <input type='text' name='tweet' placeholder="tweet">
      <input type='submit'>
    </form>
    <form action='/tweet_later' method='post'>
      <input type='text' name='tweet_word1' placeholder="tweet">
      <input type='text' name='time' placeholder="seconds">
      <input type='submit'>
    </form>

    <button><a href ='/sign_out'>sign out</a></button>
  <% end %>


</div>